body {
  margin: 40px;
  padding: 40px;
  background-color: #FFFF99;
  border: 5px solid #808080;
}

h1 {
  text-align: center;
  color: purple;
}
      
h2 {
  color: aqua;
}
      
a, a:visited {
  color: #FF3300;
  text-decoration: none;
}
      
footer {
  text-align: center;
}
